* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border:1px dashed black;*/
}

html {
	font-size: 16px;
}


body {
	font-family: 'Nunito', sans-serif;
	max-width:100%;
	background-color: #fff;
}

h1 {
	font-family: 'Parisienne', serif, sans-serif;
	font-weight: 100;
	font-size:3.6rem;
	text-align: center;
	color:#fff;
}

h2 {
	font-family: 'Parisienne', serif, sans-serif;
	font-weight: 300;
	background-color: #000;
	color:#fff;
	font-size:2.6rem;
	text-align: center;
	padding:15px 0px;
	margin-bottom:20px;
}


nav ul{
	list-style-type: none;
	margin: auto;
}

article {
	padding-left:3px;
}

article p {
	margin-bottom: 10px;
}


section {
	padding-top: 40px;
	padding-bottom: 50px;
}

footer .container {
	text-align: center;
	font-size:0.7rem;
}

a {
	text-decoration: none;
	color:#000;
}

.jumbotron {
	background-color:#000;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


.basic-info li {
	text-align: center;
	padding: 30px 0px;
	font-size: 1.5rem;
}

.cv-name {
	font-weight: bold;
	border:none;
}

.bold {
	font-weight: bold;
	margin-bottom:10px;
}

.details-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	margin-bottom: 20px;.

}

.icons {
	font-weight: 600;
}

@media(min-width: 590px) {
	h1 {
		font-size:5rem;
	}

}

@media(min-width: 700px) {
	.details-container{
		justify-content: space-around;
	}
}

@media(min-width: 800px) {
	.basic-info {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;

	}

	h1 {
		font-size:6rem;
	}

	.jumbotron {
		height:600px;
	}

	.jumbotron h1 {
	position: relative;
	top: 180px;
}

	.basic-info li {
		padding-right: 15px;
		border-right:1px solid #666;
	}

}

@media(min-width: 960px) {
	h1 {
		font-size:7.5rem;
	}
	.container {
		width:90%;
		margin: auto;
	}

	.details-container {
		flex-flow: row wrap;
	}

	

}

